# Flutter & Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/
*.lock

# IDE & OS
.idea/
.vscode/
*.iml
*.log
*.tmp
*.swp
.DS_Store

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Firebase & Secrets
google-services.json
GoogleService-Info.plist
*.env

# Others
*.bak
*.orig
*.rej
*.so
*.dll
*.exe

# Personal config files
*.keystore
*.jks
